@import url(main.css);

@keyframes login-animation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes register-animation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

// 用户
.user {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url("../imgs/user.png") no-repeat center;
    background-size: cover;

    // 用户表单
    .user-form-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 50%;
        height: 100%;
        background-color: white;

        .back {
            position: absolute;
            top: 32px;
            left: 32px;
            color: black;
            transition: all 0.5s;

            &:hover {
                color: #0188FB;
            }
        }

        .register-form {
            display: flex;
            flex-direction: column;
            width: 400px;
            transition: all 0.5s;

            .title {
                font-size: 32px;
                text-align: center;
            }

            input {
                height: 36px;
                margin-bottom: 32px;
                text-align: center;
                border: 1px solid rgb(235, 235, 235);
                border-radius: 36px;
                transition: all 0.5s;

                &:focus {
                    border: 1px solid #0188FB;
                }
            }

            .code-pane {
                width: 100%;
                border: 1px solid rgb(235, 235, 235);
                border-radius: 36px;
                margin-bottom: 32px;

                &:focus-within {
                    border: 1px solid #0188FB;
                }

                input {
                    margin: 0;
                    border: none;
                }

                .register-code {
                    width: calc(60% - 52px);
                    padding-left: 48px;
                }

                .register-code-button {
                    width: calc(40% - 8px);
                    background-color: transparent;
                    cursor: pointer;
                    transition: all 0.5s;

                    &:hover {
                        color: #0188FB;
                    }

                    &:disabled {
                        pointer-events: none;
                    }
                }
            }

            .register-button {
                height: 42px;
                background-color: #35a1ff;
                color: white;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    opacity: 0.5;
                }
            }

            .link {
                display: flex;
                justify-content: space-between;

                a {
                    color: black;
                    transition: all 0.5s;

                    &:hover {
                        color: #0188FB;
                    }
                }

                .login {
                    margin-left: 16px;
                }

                .index {
                    margin-right: 16px;
                }
            }
        }

        .login-form {
            display: none;
            flex-direction: column;
            width: 400px;
            transition: all 0.5s;

            .title {
                font-size: 32px;
                text-align: center;
            }

            input {
                height: 36px;
                margin-bottom: 32px;
                text-align: center;
                border: 1px solid rgb(235, 235, 235);
                border-radius: 36px;
                transition: all 0.5s;

                &:focus {
                    border: 1px solid #0188FB;
                }
            }

            .login-button {
                height: 42px;
                background-color: #35a1ff;
                color: white;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    opacity: 0.5;
                }
            }

            .link {
                display: flex;
                justify-content: space-between;

                a {
                    color: black;
                    transition: all 0.5s;

                    &:hover {
                        color: #0188FB;
                    }
                }

                .register {
                    margin-left: 16px;
                }

                .forget {
                    margin-right: 16px;
                }
            }
        }

        &.register-form-animation {
            animation: forwards register-animation 1s;
        }

        &.login-form-animation {
            animation: forwards login-animation 1s;
        }
    }
}